<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://avatars2.githubusercontent.com/u/31264823?s=400&u=8d914cd738d7520cc23fcd6a993fde47f3e969f4&v=4"
            alt="" />
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{username}}
          </h5>
          <h6>
            {{email}}
          </h6>
          <p class="proile-rating">Class Of : <span>{{classof}}</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>Social Links</p>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>USN</label>
              </div>
              <div class="col-md-6">
                <p> {{usn}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{phone}}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Day Joined</label>
              </div>
              <div class="col-md-6">
                <p>{{creation_dt | date: 'mediumDate'}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Branch Studied</label>
              </div>
              <div class="col-md-6">
                <p>{{branch}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date Of Birth</label>
              </div>
              <div class="col-md-6">
                <p>{{dob}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Location</label>
              </div>
              <div class="col-md-6">
                <p>{{location}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
