html,
body {
  height: 100%;
}

h1 {
  font-family: 'Rock Salt', cursive;
}

h2 {
  font-family: 'Rock Salt', cursive;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
  margin-top: 100px;
}

.wrong {
  color: crimson;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.container {
  font-family: 'Roboto';
  width: 600px;
  margin: 30px auto 0;
  display: block;
  padding: 10px 50px 50px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h2.small {
  font-weight: normal;
  color: #888;
  display: block;
}

.group {
  position: relative;
  margin-bottom: 40px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  background: none;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
  background: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
  top: -50px;
  font-size: 14px;
  color: crimson;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: crimson;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
  background: crimson;
  opacity: 0.8;
}

.form-group {
  opacity: 1.0
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}
