<h1 class="mb-3 font-weight-normal" style="text-align: center;">Welcome Admin!</h1>
<h2 class="h5 mb-3 font-weight-normal">Login Here</h2>
<br>
<form class="form-signin" [formGroup]="loginForm">
  <div class="group">
    <input formControlName="username" type="text" id="inputusername" class="form-control" placeholder="Username"
      required autofocus>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="inputusername" class="sr-only">Email address</label>
  </div>
  <div class="group">
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
      required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label for="inputPassword" class="sr-only">Password</label>
    <span class="wrong"><b> {{ wrong }} </b></span>
  </div>

  <div class="form-group" style="text-align:center;">
    <button class="btn btn=danger btn-block bouncy" style="animation-delay:0.07s; color: white;" type="submit" (click)='adminlogin()'>Sign
      in</button>
    <span>User login </span> <a routerLink="/login">here</a>
  </div>
</form>
