.correct {
    color: green;
    font-size: 12px;
}

.fa {
    font-size: 20px;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #fb3958;
    color: white;
}

div.container {
    background-color: #FAFAFA;
    padding: 20px;
    /* margin: 10px 0px 60px; */
    border: 1px solid GREY;
    opacity:0.9;
}