<div class="container">

    <h3 class="text-center">Let's Talk</h3><br />

    <div class="row">
        <div class="col-md-8">
            <form action="/post" method="post">
                <input class="form-control" name="name" placeholder="Name..." /><br />
                <input class="form-control" name="phone" placeholder="Phone..." /><br />
                <input class="form-control" name="email" placeholder="E-mail..." /><br />
                <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
                <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
            </form>
        </div>
        <div class="col-md-4">
            <b>Get In Touch: </b> <br /> Phone: <a href="tel: +917795481747">+91 7795481747 </a> <br /> E-mail: <a href="mailto:roshan139154@gmail.com">roshan139154@gmail.com</a><br />
            <br /><br />
            <b>Where to Find Us: </b><br /> MITE College, <br /> Badaga Mijar<br /> Moodabidri - 574225<br /> Phone: +91 9379762931<br />
            <a href="mailto:mite.ac@gmail.com">mite.ac@gmail.com</a><br />


            <br /><br />
            <b>Developer Address: </b><br /> 6-75-2, Shreesha Building <br /> Old Post Office Road <br /> Surathkal - 575014<br /> Phone: +91 7795481747<br />
            <a href="mailto:roshan139154@gmail.com">roshan139154@gmail.com</a><br />


        </div>
    </div>

</div>