<section class="section home bg-dark" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="home-wrapper text-center">
          <img class="image-size" src="assets/mite.png" alt="logo">
          <div class="text-tran-box text-tran-box-dark">
            <h1 class="text-transparent">Start With a Dream, Finish With a Future</h1>
          </div>
          <a (click)="moveToLogin()" class="btn btn-success blink">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="facts-box text-center">
          <div class="row">
            <div class="col-sm-3 col-6">
              <h2>12</h2>
              <p class="text-muted">Students</p>
            </div>
            <div class="col-sm-3 col-6">
              <h2>34</h2>
              <p class="text-muted">Total Posts</p>
            </div>
            <div class="col-sm-3 col-6">
              <h2>81</h2>
              <p class="text-muted">Stories Shared</p>
            </div>
            <div class="col-sm-3 col-6">
              <h2>164</h2>
              <p class="text-muted">Total Visits</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
