<div class="container emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img src="https://avatars2.githubusercontent.com/u/31264823?s=400&u=8d914cd738d7520cc23fcd6a993fde47f3e969f4&v=4" alt="" />
                  <div class="file btn btn-lg btn-primary">
                      Change Photo
                      <input type="file" name="file" />
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                  <h5>
                      {{username}}
                  </h5>
                  <h6>
                      Web Developer and Designer
                  </h6>
                  <p class="proile-rating">Class Of : <span>2019</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2">
              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">
                  <p>Social Links</p>
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-google"></a>
                  <a href="#" class="fa fa-instagram"></a>
              </div>
          </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form class="form-style" [formGroup]="editForm">
                      <div class="row">
                          <div class="col-md-6">
                              <label>USN</label>
                          </div>
                          <div class="col-md-6">
                              <input formControlName="usn" type="text" name="usn" placeholder="-MT-------">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Name</label>
                          </div>
                          <div class="col-md-6">
                              <p>{{username}}</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Email</label>
                          </div>
                          <div class="col-md-6">
                              <p>{{email}}</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Phone</label>
                          </div>
                          <div class="col-md-6">
                              <input formControlName="phone" type="text" name="phone" placeholder="Enter your phone number">
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Profession</label>
                          </div>
                          <div class="col-md-6">
                              <input formControlName="profession" type="text" name="profession">
                          </div>
                      </div>
                      <button type="submit" class="btnEditProfile col-md-9" (click)="edit()">Save</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>