.leftcolumn {
  width: 75%;
}

.cardBig {
  background-color: #cccccc;
  opacity: 0.8;
}

.cardSmall {
  opacity: 1.0;
  z-index: 100;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

h2 {
  color: blue;
}

.card {
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 98%;
    padding: 2;
  }
}

.inputter {
  width: 400px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input[type=text]:focus {
  width: 250px;
}
