.leftcolumn {
  width: 75%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}

.two-col {
  overflow: hidden;
  /* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
  width: 49%;
}

.two-col .col1 {
  float: left;
}

.two-col .col2 {
  float: right;
}
