<div class="leftcolumn card">
  <form className="white" [formGroup]="postForm">
    <div class="two-col">
      <div class="col1">
        <select formControlName="uname" type="text" id="uname">
          <option value="Anonymus" selected>Post As ?</option>
          <option value={{username}} >{{username}}</option>
        </select>
      </div>
      <div class="col1">
        <div className="input-field">
          <input formControlName="title" type="text" placeholder="Title " id="title" />
        </div>
      </div>
    </div>
    <div className="input-field">
      <textarea formControlName="content" id="content" placeholder="Share your experience" className="materialize-textarea"></textarea>
    </div>
    <div className="input-field">
      <button className="btn pink lighten-1 z-depth-0" class="btn btn-primary" (click)="createPost()">Post</button>
      <input type="reset" class="btn btn-warning" value="Clear" />
    </div>
  </form>
</div>

<div class="leftcolumn">
  <div class="card" *ngFor="let post of _userService.posts">
    <h2><u>{{post.title}} </u></h2>
    <p>Post by: {{post.uname}}</p>
    <p> <em>{{post.creation_dt | date: 'fullDate'}}</em></p>
    <p>{{post.content}}</p>
  </div>
</div>
