<div class="container">
  <div class="card">
    <div class="front">
      <div class="logo"><span></span></div>
    </div>
    <div class="back">
      <h1>Helen Parker<span>design <i>&</i> photography</span></h1>
      <ul>
        <li>+1-111-111-11-11</li>
        <li>my-email@email.com</li>
        <li>Year Of Joining</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="front">
      <div class="logo"><span></span></div>
    </div>
    <div class="back">
      <h1>Helen Parker<span>design <i>&</i> photography</span></h1>
      <ul>
        <li>+1-111-111-11-11</li>
        <li>my-email@email.com</li>
        <li>Year Of Joining</li>
      </ul>
    </div>
  </div>

</div>
