.heading {
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 600pt;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  vertical-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  display: block;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
}

.users-card {
  flex: 0 1 500px;
  box-sizing: border-box;
  margin: 1em 0.5em;
  background: #fff;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
}

.users-card:hover {
  box-shadow: 0 14px 28px rgb(0, 0, 0), 0 10px 10px rgba(0, 0, 0, .22);
  cursor: pointer;
}

.users-image {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 2px 2px 0 0;
}

.users-desc {
  padding: 0.5em 1em;
  color: #3c4043;
}

.users-title {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1em;
  color: #39ace7;
}

.users-title:hover {
  color: #3c4043;
}

.users-branch {
  color: #003366;
  font-weight: bold;
}

.users-usn {
  font-weight: bold;
}

.users-uploaderEmail {
  color: #0000EE;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 40em) {
  .users-card {
    max-width: calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .users-card {
    max-width: calc(25% - 1em);
  }
}
