<article>
  <h2>What is Alumni Connect...?</h2>
  <div class="line"></div>
  <div class="articleBody clear">
    <figure>
      <img src="https://i930.photobucket.com/albums/ad147/tcepser8/tumblr_ll0a7qs4Me1qi2q1so1_r1_500.jpg" />
    </figure>
    <p>
      Creating an engaged, supportive alumni network is crucial to an institution’s success. If communication stops
      once the graduates leaves an institution, their understanding of the university will become stale.
    </p>
    <p>
      By using our application as a mean of communication and a tool for sharing of information we hope that both the
      students, as well as their seniors will benefit.
    </p>
    <h3>Lets Get Started...</h3>
  </div>
</article>
