<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>You are few steps away from being a part of us!</p>
            <button class="left_input" type="submit" (click)="moveToLogin()">Log In</button>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <form [formGroup]="registerForm">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Apply as a Student/Alumini</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input formControlName="username" type="text" class="form-control" placeholder="Name *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="email" type="email" class="form-control" placeholder="Your Email *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="password" type="password" class="form-control" placeholder="Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="dob" type="text" class="form-control" placeholder="Date of Birth (dd/mm/yyyy)" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="branch" type="text" class="form-control" placeholder="Branch Studied *" value="" />
                                    <span class="wrong"><b> {{ wrong }} </b></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input formControlName="usn" type="text" class="form-control" placeholder="USN *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="phone" type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="cpass" type="password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="location" type="text" class="form-control" placeholder="Location *" value="" />
                                </div>
                                <div class="form-group">
                                    <input formControlName="classof" type="text" class="form-control" placeholder="Class Of *" value="" />
                                </div>
                                <button type="submit" class="btnRegister" (click)="register()">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>